* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
}

html,
body {
    height: 100%;
}

.title {
    font-size: 3rem;;
}

.title,
.resize,
.header,
.buttons,
h3 {
    text-align: center;
}

h2 {
    padding: 1rem;
}

.box {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

#gridSize {
    width: 25%;
}

.left {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 10%;
    background-color: rgba(200, 38, 27, 0.5);
    margin: 3vh auto;
    height: 70%;
    align-self: center;
}

#resize,
#black,
#color,
#eraser,
#clear,
#line {
    padding: .5rem;
    border-radius: 10px;
    width: 50%;
    margin: 1vh auto;
    font-size: 1rem;
}

h3 {
    margin: 1vh auto;
}

#black.on,
#color.on,
#eraser.on {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    height: 70vh;
    width: 40vw;
    border: 1px solid black;
    margin: 3vh auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    border: 1px solid black;
    height: 100%;
}