* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.header,
.buttons,
h3 {
    text-align: center;
    margin: 2vh auto;
}

#black,
#color,
#eraser,
#clear,
#line {
    padding: .2rem;
}

#black.on,
#color.on,
#eraser.on {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    height: 75vh;
    width: 60vw;
    border: 1px solid red;
    margin: 5vh auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    /* border: 1px solid gray; */
    height: 100%;
}