* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.header {
    text-align: center;
}

.container {
    display: flex;
    height: 500px;
    width: 500px;
    border: 1px solid red;
    margin: 5vh auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    border: 1px solid black;
    height: 100%;
}